Flask==0.9
Flask-Admin==1.0.2
Flask-Markdown==0.3
Flask-SQLAlchemy==0.16
Flask-WTF==0.8
Flask-Gravatar==0.2.3
Flask-Paginate
Flask-Assets
PIL==1.1.7
google-api-python-client==1.0
xhtml2pdf==0.0.4
wepay==0.1.5
git+git://github.com/videntity/python-signpad2image.git#egg=python-signpad2image
