Flask==0.9
Flask-Admin==1.0.2
Flask-Markdown==0.3
Flask-SQLAlchemy==0.16
Flask-WTF==0.8
Flask-Gravatar==0.2.3
Flask-Paginate
Flask-Testing
Flask-Login
blinker
google-api-python-client==1.0
git+git://github.com/acm-ucr/xhtml2pdf.git#egg=xhtml2pdf
wepay
git+git://github.com/acm-ucr/python-signpad2image.git#egg=python-signpad2image
nose
