{% extends "base.html" %}
  {% block title %}ACM@UCR: Our Mission{% endblock %}
  {% block content %}
    <div class="hero-unit">
      <h1>Message from the ACM@UCR Chair</h1>
      <h2>Our Mission</h2>
      <p class="lead">We want ACM@UCR to become one of the best resources for undergraduate and graduate CS/CE/BI majors at UCR, while also encouraging non-technical members to actively participate</p>
      <p>ACM's primary goal, as defined by the national ACM chapter is to <em>advance computing as a science and a profession.</em> As the new chair, I also strive for this goal. However, ACM is not and has never been a dictatorship, especially at UCR. ACM is a club whose strength comes from the community we nurture and assist. Because of this, for ACM to reach the next step as a club, we must improve our social efforts to bring more members in and, in the process, recruit more great students that will be able to lead others and keep us on the leading edge of the quickly growing CS field.</p>
      <p>If you would like to join us in completing this goal, you can do so by becoming an active member and contributing your knowledge and experience.</p>
      <p>
        <a href="/register/" class="btn btn-large btn-primary"><i class="icon-white icon-group"></i> Become an <b>ACM@UCR</b> member</a>
        <a href="/profile/" class="btn btn-large btn-warning"><i class="icon-white icon-home"></i> Go to your profile</a>
      </p>
    </div>
  {% endblock %}
