{% macro render_posts(posts) %}
<div id="posts" class="accordion span8">
  {% for post in posts %}
  <div class="post accordion-group">
    <div class="accordion-heading postHeader">
      <div class="accordion-toggle" data-toggle="collapse" data-parent="#posts" href="#{{ post.id }}">
        <img class="img-rounded span2 pull-right" src="{{ post.author.email | gravatar }}" />
        <h2>{{ post.title }} <br /><small><i class="icon-calendar"></i> {{ post.created | formatted_time }} by {{ post.author.name }} in <a href="/articles/cat/{{ post.category.slug }}">{{ post.category.slug | title }}</a></small></h2>
      </div>
    </div>
    <div id="{{ post.id }}" class="accordion-body collapse">
      <div class="accordion-inner">
        {{ post.gfm_content | markdown }}
      </div>
    </div>
  </div>
  <br />
  {% endfor %}
</div>
{% endmacro %}
