{% macro render_posts(posts) %}
<div id="posts" class="accordion span8">
  {% for post in posts %}
  <div class="post accordion-group">
    <div class="accordion-heading postHeader">
      <div class="accordion-toggle" data-toggle="collapse" data-parent="#posts" href="#{{ post.id }}">
        <img class="img-rounded span2 pull-right" src="{{ post.author.email | gravatar }}" />
        <h2>{{ post.title }} <br /><small><i class="icon-calendar"></i> {{ post.created | formatted_time }} by {{ post.author.name }} in <a href="/articles/cat/{{ post.category.slug }}">{{ post.category.slug | title }}</a></small></h2>
      </div>
    </div>
    <div id="{{ post.id }}" class="accordion-body collapse">
      <div class="accordion-inner">
        {{ post.gfm_content | markdown }}
      </div>
    </div>
  </div>
  <br />
  {% endfor %}
</div>
{% endmacro %}

{% macro render_search_form(form) %}
    {% from "forms/macros.html" import render_field %}
    <div id="postFilter" class="postHeader span3 sidebar-nav">
      <form method="POST" id="searchForm" action="/articles/" class="form post form-search pull-right">
        <h4>Filter posts</h4>
        {{ form.csrf_token }}
        <div class="control-group">
          {{ render_field(form.query, placeholder="Search for specific posts") }}
          <br clear="all" />
        </div>
        <div class="control-group">
          {{ render_field(form.category) }}
          <br clear="all" />
        </div>
        <div class="control-group">
          {{ render_field(form.author) }}
          <br clear="all" />
        </div>
        <div class="control-group">
          {{ render_field(form.tags) }}
          <br clear="all" />
        </div>
        <div class="control-group">
          {{ render_field(form.order_by) }}
          <br clear="all" />
        </div>
        <br />
        <div class="control-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
{% endmacro %}
