{% extends "base.html" %}
  {% block navigation %}
    <li><a href="/admin"><i class="icon-white icon-home"></i> Admin Home</a></li>
    <li>
      <a class="dropdown-toggle" data-toggle="dropdown">
        <i class="icon-cog icon-white"></i> User Tools
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><a href="/admin/users"><i class="icon-user"></i> User Overview</a></li>
        <li><a href="/admin/users#modify"><i class="icon-user-md"></i> Modify Users</a></li>
        <li><a href="/admin/users#add"><i class="icon-plus-sign"></i> Add Users</a></li>
      </ul>
    </li>  
    <li><a href="/admin/reports"><i class="icon-legal icon-white"></i> Report Tools</a></li>
  {% endblock %}
  {% block content %}
    
  {% endblock %}
