{% macro render_user_area(user) %}
  {% if user.is_authenticated() %}
    <!-- Display relevant user data -->
    <li class="divider-vertical"></li>
    <li>
      <a class="dropdown-toggle" data-toggle="dropdown">
        <img class="img-circle" src="{{ user.email | gravatar(25)}}"> {{ user.netid }}
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><a href="/profile"><i class="icon-user"></i> My Account</a></li>
        <li><a href="/logout"><i class="icon-signout"></i> Log Out</a></li>
      </ul>
    </li>
  {% else %}
    <li><a href="/register"><i class="icon-white icon-group"></i> Become a Member</a></li>
    <li class="divider-vertical"></li>
    <li><a href="/login"><i class="icon-user"></i> Log in</a></li>
  {% endif %}
{% endmacro %}

{% macro pretty_print_role(role) %}
    {% if role <= 2 %}
      <a href="/profile/edit" rel="tooltip" data-placement="top"
         data-original-title="You can edit your account details">
        <span class="label label-success">Member</span>
      </a>
    {% endif %}
    {% if role <= 1 %}
      <a href="/publish" rel="tooltip" data-placement="top"
         data-original-title="You can create and publish articles">
         <span class="label label-info">Publisher</span>
      </a>
    {% endif %}
    {% if role == 0 %}
      <a href="/admin" rel="tooltip" data-placement="top"
         data-original-title="You can create/edit users and generate reports">
        <span class="label label-important">Administrator</span>
      </a>
    {% endif %}
    {% if role == 3 %}
      <span>
        Our records indicate that you are not currently a member of ACM@UCR.
        This could be because you haven't paid your yearly dues or you paid them in person and our records have not be updated.
      </span>
    {% endif %}
{% endmacro %}
