{% extends "base.html" %}
  {% block navigation %}
    <li><a href="/"><i class="icon-white icon-list-alt"></i>
    Home</a></li>
    <li><a href="/profile"><i class="icon-white icon-list-alt"></i> Summary</a></li>
    <li><a href="/profile/edit"><i class="icon-white icon-pencil"></i> Edit</a></li>
  {% endblock %}
  {% block content %}
    <h1>Account Summary</h1>
    <p>This is everything we think we know about you</p>
    <div id="gravatarViewport" class="span5 pull-left navUnit">
      <h3>Your profile</h3>
      <img class="img-polaroid" src="{{ user.email | gravatar }}" title="(powered by gravatar.com)" />
      <br />
    </div>
    <div id="contactInfo" class="span6 pull-right navUnit">
      <h3>About you</h3>
      <dl>
        <dt>Name</dt>
	<dd>{{ user.name }}</dd>
        <dt>Email</dt>
	<dd>{{ user.email }}</dd>
        <dt>NetID</dt>
	<dd>{{ user.netid }}</dd>
        <dt>Class Standing</dt>
	<dd>{{ user.standing.title() }}</dd>
        <dt>Major</dt>
	<dd>{{ user.major }}</dd>
        <dt>T-Shirt Size</dt>
	<dd>{{ user.shirt_size }}</dd>
        <dt>Signature</dt>
	<dd><img style="width: 100%;" src="{{ user.signature }}" /></dd>
      </dl>
    </div>
    <div id="markdownedDesc" class="span5 pull-left navUnit">
      <h3>Description</h3>
      <blockquote>
        {{ user.description | markdown }}
      </blockquote>
    </div>
    <div id="roleInfo" class="span6 pull-right navUnit">
      <h3>Membership Roles</h3>
      <p>These are the roles you have within the club website</p>
      {% from "users/macros.html" import pretty_print_role %}
      {{ pretty_print_role(user.role) }}
    </div>
    <div id="membershipDetails" class="span6 pull-right navUnit">
      <h3>Membership Details</h3>
      {% if user.member %}
        You have been an {{ user.getMemberStatus() }} member since <time date="{{ user.member_since }}">{{ user.member_since.strftime('%h, %d, %Y') }}</time>.
        {% if user.getMemberStatus() == "In Progress" %}
        <div class="well">
          <a href="/paymembership/" class="btn btn-primary"><i class="icon-credit-card"></i> Pay membership dues with WePay</a><br> to become an official member.
        </div>
        {% elif user.getMemberStatus() == "Unregistered" %}
        <div class="well">
          <a id="register" href="/register/" class="btn btn-success"><i class="icon-group"></i> Become a registered member</a><br> by filling out the Membership Form.
        </div>
        {% endif %}
      {% else %}
        You are not currently registered as a member of ACM@UCR. Also, {{ user.wepay_verification }}
      {% endif %}
    </div>
  {% endblock %}
