{% extends "base.html" %}
	{% block navigation %}
    <li><a href="/"><i class="icon-white icon-list-alt"></i>
    Home</a></li>
  {% endblock %}
  {% block content %}
    <h1>User Profile</h1>
    <p>This is what you know about this user</p> <!--Fix this to display user name-->
    <div id="gravatarViewport" class="span5 pull-left">
      <img class="img-polaroid" src="{{ user.email | gravatar }}" />
      <br />
      (powered by gravatar.com)
    </div>
    <div id="contactInfo" class="span6 pull-right">
      <h3>About this User</h3> <!--Fix this to display user name-->
      <table class="table table-bordered table-hover">
        <tbody>
          <tr><td>Name</td><td>{{ user.name }}</td></tr>
          <tr><td>Email</td><td>{{ user.email }}</td></tr>
          <tr><td>NetID</td><td>{{ user.netid }}</td></tr>
          <tr><td>Class Standing</td><td>{{ user.standing.title() }}</td></tr>
          <tr><td>Major</td><td>{{ user.major }}</td></tr>
          <tr><td>Signature</td><td><img style="width: 100%;" src="{{ user.signature }}" /></td></tr>
        </tbody>
      </table>
      <hr />
    </div>
    <div id="markdownDesc" class="span5 pull-left">
      <h3>Description</h3>
      <blockquote>
        {{ user.description | markdown }}
      </blockquote>
      <hr />
    </div>
    <div id="roleInfo" class="span6 pull-right">
      <h3>Membership Roles</h3>
      <p>These are the roles you have within the club website</p>
      {% from "users/macros.html" import pretty_print_role %}
      {{ pretty_print_role(user.role) }}
      <hr />
    </div>
    <div id="membershipDetails" class="span6 pull-right">
      <h3>Membership Details</h3>
      {% if user.member %}
        {% if user.getMemberStatus() == "In Progress" %}
          {{user.name}}'s membership is currently in progress.
        {% elif user.getMemberStatus() == "Unregistered" %}
          {{user.name}} has not registered yet.
        {% endif %}
        {% else %}
          {{user.name}} has been an {{ user.getMemberStatus() }} member since <time date="{{ user.member_since }}">{{ user.member_since.strftime('%h %d, %Y') }}</time>.
        {% endif %}
  {% endblock %}