<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}ACM@UCR{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="SHORTCUT ICON" href="/static/favicon.ico" />
        
        {% assets "css_all" %}
        	<link rel="stylesheet" type = "text/css" href="{{ ASSET_URL }}" />
        {% endassets %}
        {% assets "js_header" %}
        	<script type="text/javascript" src="{{ ASSET_URL }}" /></script>
        {% endassets %}
        {% block extra_css %}
        {% endblock %}
        {% block header_script %}
        <script src="/static/js/vendor/modernizr-2.6.1.min.js"></script>
        {% endblock %}
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
        <!-- Page Header -->
	<div id="header">
          <div class="container container-fluid span12">
	    <div class="row row-fluid span12">
	    {% block header %}
	      <header id="banner" class="span6">
		<a id="bannerLink" href="/">
		  <img class="pull-left" id="logoImg" src="/static/img/acmlogo.svg" >
		  <h4 id="title" class="pull-left">Association for
		    <br>Computing Machinery
		  </h4>
		  <span id="spacedAt">@</span>
		  <img id="ucrLogo" src="/static/img/ucr_logo_cmyk.svg" />
		  <p id="tagLine">
		    <br>Advancing Computing as a science and profession
		  </p>
		</a>
	      </header>
              <div id="headerNav" class="navbar span6">
		<div class="navbar-inner">
		  <ul class="nav">
                    <!-- Navigation: insert relevant links from link view -->
                    {% block navigation %}
		      <ul class="nav">
			<li>
			  <a class="dropdown-toggle" data-toggle="dropdown">
			    <i class="icon-question-sign"></i> About us
			    <b class="caret"></b>
			  </a>
			  <ul class="dropdown-menu">
			    <li>
			      <a href="/about">
				<i class="icon-bullhorn"></i> Who are we?
			      </a>
			    </li>
			    <li>
			      <a href="/mission">
				<i class="icon-road"></i> Our Mission
			      </a>
			    </li>
			  </ul>
			</li>
		      </ul>
		      <ul class="nav">
			<li>
			  <a class="dropdown-toggle" data-toggle="dropdown">
			    <i class="icon-file"></i> Articles
			    <b class="caret"></b>
			  </a>
			  <ul class="dropdown-menu">
			    <li>
			      <a href="/articles/cat/news">
				<i class="icon-list"></i> News
			      </a>
			    </li>
			    <li>
			      <a href="/articles/cat/events">
				<i class="icon-calendar"></i> Events
			      </a>
			    </li>
			  </ul>
			</li>
		      </ul>
                    {% endblock %}
		    <ul class="nav">
		      {% from "users/macros.html" import render_user_area %}
		      {{ render_user_area(g.user) }}
		    </ul>
		  </ul>
		</div>
              </div>
	    {% endblock %}
	    </div>
          </div>
	  <br clear="all">
	</div>

        <!-- Add your site or application content here -->
        <div id="content" role="main" class="container container-fluid span12">
          <div class="row row-fluid span12 contentGrid">
            {% with messages = get_flashed_messages(with_categories=True) %}
              {% if messages %}
                {% for category, m in messages %}
                  {% if category == 'error' %}
                  <div class="alert alert-error">
                  {% else %}
                  <div class="alert">
                  {% endif %}
                  <a href="#" class="close" data-dismiss="alert">x</a>
                  {{ m }}
                  </div>
               {% endfor %}
             {% endif %}
            {% endwith %}
            {% block content %}
            {% endblock %}
          </div>
        </div>
	<br clear="all">
	<div id="footer">
	  <div class="container container-fluid span12">
	    <div id="footerContent" class="row row-fluid span12">
	      {% block footer %} 
		<div id="copyright" class="span2">
		  &copy; ACM@UCR
		</div>
		<div class="span10">
		  <a href="/about">Who we are?</a>
		  <a href="/mission">Our Mission</a>
		  <a href="/cat/news">News</a>
		  <a href="/cat/events">Events</a>
		  <a href="/profile">Profile</a>
		  <span class="pull-right">
		    <a href="http://twitter.com/acm_ucr">
		      <i class="icon-twitter-sign"></i> &nbsp;Follow us on Twitter
		    </a>
		    <a href="https://github.com/acm-ucr">
		      <i class="icon-github-sign"></i> &nbsp;Follow our Github
		    </a>
		    <a href="https://www.facebook.com/acm.at.ucr">
		      <i class="icon-facebook-sign"></i> &nbsp;Like us on Facebook
		    </a>
		  </span>
		</div>
	      {% endblock %}
	    </div>
	  </div>
	  <br clear="all">
	</div>
	    
	    {% assets "js_footer" %}
	    	<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	    {% endassets %}
	
        {% block extra_script %}
        {% endblock %}

        {% block analytics %}
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
        {% endblock %}
    </body>
</html>
