<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}ACM@UCR{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="SHORTCUT ICON" href="/static/favicon.ico" />

        {% block css %}
        <link rel="stylesheet" href="/static/css/normalize.css" />
        <link rel="stylesheet" href="/static/css/bootstrap.css" />
        <link rel="stylesheet" href="/static/css/bootstrap-responsive.css" />
        <link rel="stylesheet" href="/static/css/font-awesome.css" />
        <link rel="stylesheet" href="/static/css/main.css" />
        {% endblock %}
        {% block extra_css %}
        {% endblock %}
        {% block header_script %}
        <script src="/static/js/vendor/modernizr-2.6.1.min.js"></script>
        {% endblock %}
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
        <!-- Page Header -->
        <div class="container container-fluid">
          <div class="navbar span12">
            <div class="navbar-inner">
              <ul class="nav nav-pills">
                <!-- Navigation: insert relevant links from link view -->
                {% block navigation %}
                <li><a href="/"><i class="icon-white icon-home"></i> Home</a></li>
		<li><a href="/about"><i class="icon-question-sign"></i> About us</a></li>
                <li><a href="/articles/cat/news"><i class="icon-white icon-list"></i> News</a></li>
                <li><a href="/articles/cat/events"><i class="icon-white icon-calendar"></i> Events</a></li>
		<li><a href="/mission"><i class="icon-road"></i> Our Mission</a></li>
                {% endblock %}
              </ul>
              <ul class="nav nav-pills pull-right">
                {% from "users/macros.html" import render_user_area %}
                {{ render_user_area(g.user) }}
              </ul>
            </div>
          </div>
        </div>

        <!-- Add your site or application content here -->
        <div id="content" role="main" class="container container-fluid white-background">
          <div class="row-fluid">
            {% with messages = get_flashed_messages(with_categories=True) %}
              {% if messages %}
                {% for category, m in messages %}
                  {% if category == 'error' %}
                  <div class="alert alert-error">
                  {% else %}
                  <div class="alert">
                  {% endif %}
                  <a href="#" class="close" data-dismiss="alert">x</a>
                  {{ m }}
                  </div>
               {% endfor %}
             {% endif %}
            {% endwith %}
	    <div class="span12 clearfix">
	      <h3 id="minimalHeader">Association of Computing Machinery 
		<span class="ucrBlue">@</span> 
		<img id="minimalHeaderLogo" src="/static/img/ucr_logo_cmyk.svg" />
	      </h3>
	    </div>
	    <br clear="all">
	    <hr>
            {% block content %}
            {% endblock %}
          </div>
        </div>

	{% block footer %}
	<div id="footer" >
<a href="https://github.com/acm-ucr/acm-phoenix/"><img style="position: absolute; left: 0; border: 0;" src="/static/img/forkme_left_orange_ff7600.png" alt="Fork me on GitHub"></a>
	  <hr>
          <div class="container container-fluid">
            <header id="banner" class="jumbotron subhead span9" style="padding-top: 15px;">
              <a href="/"><img class="pull-left" id="logoImg" src="/static/img/acmlogoucr.svg" />
		<h1 id="tagLine" class="pull-left">Association of<br />Computing Machinery<br /><br /><span class="span1">@</span><img id="ucrLogo" src="/static/img/ucr_logo_cmyk.svg" /></h1>
              </a>
              <br clear="all" />
              <p class="shadowWhite lead offset3">Advancing Computing as a Science and Profession</p>
            </header>
	    <div id="socialLinks" class="pull-right span2 shadowWhite">
	      <div><a href="https://www.facebook.com/acm.at.ucr"><i class="icon-facebook-sign"></i> &nbsp;Like us on Facebook</a></div>
	      <div><a href="http://twitter.com/acm_ucr"><i class="icon-twitter-sign"></i> &nbsp;Follow us on Twitter</a></div>
	      <div><a href="https://github.com/acm-ucr"><i class="icon-github-sign"></i> &nbsp;Follow our Github</a></div>
	    </div>
          </div>
	  <hr>
	</div>
	{% endblock %}


        {% block footer_script %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.8.0.min.js"><\/script>')</script>
        <script src="/static/js/plugins.js"></script>
        <script src="/static/js/main.js"></script>
        {% endblock %}
        {% block extra_script %}
        {% endblock %}

        {% block analytics %}
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
        {% endblock %}
    </body>
    <br />
</html>
